html{
    background-color: rgb(52, 50, 48);
    cursor: url('../img/curseur-dark.cur'), pointer;
}
.header{
    top: -40px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header:hover{
    cursor: pointer;
    color: #228BE6;
    cursor: url('../img/curseur-blue.cur'), pointer;
}
.h2{
    left: 50px;
    position: relative;
}
.h3{
    position: relative;
    left: 100px;
}
.h4{
    position: relative;
    left: 150px;
}
.h5{
    position: relative;
    left: 850px;
}
.h6{
    position: relative;
    left: 200px;
}
.contact{
    position: relative;
    top: 150px;
}
.input-contact{
    height: 20px;
    width: 190px;
}
.input-contact-message{
    height: 90px;
    width: 300px;
}
.envoyer{
    border: hidden;
    background-color: transparent;
    font-size: large;
    color: white;
}
.envoyer:hover{
    cursor: url('../img/curseur-blue.cur'), pointer;
}
.footer{
    position: relative;
    top: 368px;
}
.credits{
    text-decoration: none;
    color: white;
    position: relative;
    top: -15px;
    left: 10px;
}
.credits:hover{
    cursor: url('../img/curseur-blue.cur'), pointer;
}
svg path{
    fill: white;
}
svg path:hover{
    fill: #228BE6;
    cursor: url('../img/curseur-blue.cur'), pointer;
}
.hamburger{
    visibility: hidden;
}
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgb(52, 50, 48);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #228BE6;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
@media all and (max-width: 480px)  {
    .header{
        visibility: hidden;
    }
    .h2{
        visibility: hidden;
    }
    .h3{
        visibility: hidden;
    }
    .h4{
        visibility: hidden;
    }
    .h5{
        visibility: hidden;
    }
    .hamburger{
        visibility: visible;
    }
    .img{
        height: 100px;
        width: 100px;
    }
    .description{
        top: 350px;
    }
    .footer{
        visibility: hidden;
    }
}
@media (max-width: 780px) {
    .header{
        font-size: medium;
    }
    .h2{
        position: relative;
        left: 35px;
    }
    .h3{
        position: relative;
        left: 70px;
    }
    .h4{
        position: relative;
        left: 105px;
    }
    .h6{
        position: relative;
        left: 140px;
    }
    .h5{
        position: relative;
        left: 175px;
    }
    .contact{
        left: -120px;
        top: 70px;
    }
    .footer{
        top: 202px;
    }
}