html{
    background-color: white;
    cursor: url('../../../assets/img/curseur.cur'), pointer;
}
.header{
    top: -40px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header:hover{
    cursor: url('../../../assets/img/curseur-blue.cur'), pointer;
    color: #228BE6;
}
.h2{
    left: 50px;
    position: relative;
}
.h3{
    position: relative;
    left: 100px;
}
.h4{
    position: relative;
    left: 150px;
}
.h5{
    position: relative;
    left: 850px;
}
.h6{
    position: relative;
    left: 200px;
}
.footer{
    position: relative;
    top: 347px;
}
.credits{
    text-decoration: none;
    color: black;
    position: relative;
    top: -15px;
    left: 10px;
}
.credits:hover{
    cursor: url('../../../assets/img/curseur-blue.cur'), pointer;
}
svg path{
    fill: black;
}
svg path:hover{
    fill: #228BE6;
    cursor: url('../../../assets/img/curseur-blue.cur'), pointer;
}
.hamburger{
    visibility: hidden;
}
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: transparent;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #228BE6;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .laptop{
    height: 120px;
    position: relative;
    top: 10px;
    left: 35px;
  }
  .blog1{
    height: 190px;
    color: black;
    text-align: center;
    width: 300px;
    box-sizing: 5px 5px 5px;
    border: 0.5em solid black;
  }
  .blog-consult1{
    text-decoration: none;
    color: black;
    position: relative;
    left: -95px;
    top: 35px;
  }
  .blog-consult1:hover{
    cursor: url('../../../assets/img/curseur-blue.cur'), pointer;
  }
@media all and (max-width: 480px)  {
    .header{
        visibility: hidden;
    }
    .h2{
        visibility: hidden;
    }
    .h3{
        visibility: hidden;
    }
    .h4{
        visibility: hidden;
    }
    .h5{
        visibility: hidden;
    }
    .hamburger{
        visibility: visible;
    }
    .img{
        height: 100px;
        width: 100px;
    }
    .description{
        top: 350px;
    }
    .footer{
        visibility: hidden;
    }
}
@media (max-width: 780px) {
    .header{
        font-size: medium;
    }
    .h2{
        position: relative;
        left: 35px;
    }
    .h3{
        position: relative;
        left: 70px;
    }
    .h4{
        position: relative;
        left: 105px;
    }
    .h6{
        position: relative;
        left: 140px;
    }
    .h5{
        position: relative;
        left: 175px;
    }
    .footer{
        top: 319px;
    }
}